
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");

// Bootstrap
@import "~sass-semantic-ui/src/semantic-ui.scss";

.ui.action.input input[type="file"] {
    display: none;
}

/*error page 404*/
#margin404{
    padding-top: 20% !important;
}

/*margin Form kategori*/
#marginKategori{
    margin-bottom: 277px;
}